{% load static %}
<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluxo</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <div class="div1">
        <form action="{% url 'editar_proj'%}" method="POST">{% csrf_token %}
            <button type="submit" class="edicao_btn"> 
            <img src="static/img/edit.png" alt="edição">
        </button>
        
        </form>
        <p class="fs-3 align-middle">Fluxo </p>

        <!-- Titulo do Projeto---------------------------------------------------------------->    
        <div class="d-grid gap-2">
            <button type="button" class="btn d-grid gap-2 btn-outline w-100 p-3 fs-2 justify-content-end" name="nome_projeto" value="{{nome_proj_selecionado}}">{{nome_proj_selecionado}}</button>
        </div>

        <!-- Seleção do projeto-------------------------------->
        <div class="div3">
            <form action="{% url 'home' %}" method="POST">{% csrf_token %}
                Escolha o projeto
                <select class="div3" aria-label="Default select example" name="proj_selecionado" required>
                    <option selected></option>
                    {% for projeto in lista_projetos %}
                        <option value="{{ projeto }}">{{ projeto }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-outline-success">
                    <img src="{% static 'img/atualizar.png' %}" alt="atualizar">
                </button>
            </form>
        </div>
    </div>
    <!-- Fim Titulo do Projeto---------------------------------------------------------------->
    <div class="div2">
        <!-- Gráfico ------------------------------------------------------------------------>
        <div class="div4">
            <canvas id="myChart"></canvas>
            <script>
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Fase 1', 'Fase 2', 'Fase 3', 'Fase 4', 'Fase 5', 'Fase 6', 'Fase 7'],
                        datasets: [{
                            label: '{{ nome_proj_selecionado }}',
                            data: [{{ soma_proj_fase.7 }}, {{ soma_proj_fase.8 }}, {{ soma_proj_fase.9 }}, {{ soma_proj_fase.10 }}, {{ soma_proj_fase.11 }}, {{ soma_proj_fase.12 }}, {{ soma_proj_fase.13 }}],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                min: 0,
                                max: 100,
                                ticks: {
                                stepSize: 5
                                }
                            }
                        }
                    }
                });
            </script>
        </div>
    </div><!-- div final do form da selecione o projeto-->
    <!-- Fim do Gráfico------------------------------------------------------------------>
    <div class="div1">
        {{proj_selecionado}}
    </div>
    <!-- Formulario-------------------------------------------------------------------------->
    <div class="containers">
        <form action="{% url 'salvar' %}" method="POST">{% csrf_token %}
            <input type="text" name="nome_projeto_btn" value="{{nome_proj_selecionado}}" style="display: none"><!-- botão apagado com nome do nome_projeto-->
            <div class="div3">
                <p>Fase</p>
                <select class="form-select" aria-label="Selecione a fase" name="nome_fase">
                    <option selected value="1">Fase 1</option>
                    <option selected value="2">Fase 2</option>
                    <option selected value="3">Fase 3</option>
                    <option selected value="4">Fase 4</option>
                    <option selected value="5">Fase 5</option>
                    <option selected value="6">Fase 6</option>
                    <option selected value="7">Fase 7</option>
                </select>
            </div>
            <div class="div3">
                <p>Descrição</p>
                <input type="text" class="form-control" placeholder="Insira a descrição" name="nome_descricao" required>
            </div>
            <div class="div3">
                <p>Data inicial</p>
                <input type="date" class="form-control" name="nome_inicio_data" id="inicio_data" >
            </div>
            <div class="div3">
                <p>Data Limite</p>
                <input type="date" class="form-control" name="nome_fim_data" id="fim_data" >
            </div>
            <div class="div3">
                <p>Responsável</p>
                <input type="text" class="form-control" placeholder="Responsável" name="nome_responsavel" required>
            </div>
            <div class="div3">
                <p>Status</p>
                <select class="form-select" aria-label="Selecione Status" name="nome_status" required>
                    <option selected placeholder="Status">Pendente</option>
                    <option value="Concluido">Concluído</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success">Salvar</button>
        </form>
    </div>
    <!-- Fim do Formulário---------------------------------------------------------------->
    <!-- Tabela--------------------------------------------------------------------------->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fase</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data de Inicio</th>
                <th scope="col">Data Limite</th>
                <th scope="col">Responsável</th>
                <th scope="col">Status</th>
                <th scope="col">Projeto</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in dados %}
            {% if dado.status != 'novo'%}
                {% if dado.status == 'Pendente' %}
                    <tr class="alert">
                        <th scope="row">{{ dado.id }}</th>
                        <td>{{ dado.fase }}</td>
                        <td>{{ dado.descricao }}</td>
                        <td>{{ dado.inicio_data }}</td>
                        <td>{{ dado.fim_data }}</td>
                        <td>{{ dado.responsavel }}</td>
                        <td>{{ dado.status }}</td>
                        <td>{{ dado.projeto }}</td>
                        <td><form action="{% url 'delete' %}" method="POST">{% csrf_token %}
                            <input type="text" name="proj_selecionado" value="{{dado.projeto}}" style="display: none;">
                            <button type="submit" class="btn btn-outline-danger" name="num_botao" value="{{dado.id}}">Del</button>
                            </form>
                            <form action="{% url 'edit' %}" method="POST"> {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark" name="num_botao" value="{{dado.id}}">Edit</button>
                            </td></form>
                    </tr>
                {% else %}
                    <tr>
                        <th scope="row">{{ dado.id }}</th>
                        <td>{{ dado.fase }}</td>
                        <td>{{ dado.descricao }}</td>
                        <td>{{ dado.inicio_data }}</td>
                        <td>{{ dado.fim_data }}</td>
                        <td>{{ dado.responsavel }}</td>
                        <td>{{ dado.status }}</td>
                        <td>{{ dado.projeto }}</td>
                        <td><form action="{% url 'delete' %}" method="POST">{% csrf_token %}
                            <input type="text" name="proj_selecionado" value="{{dado.projeto}}" style="display: none;">
                            <button type="submit" class="btn btn-outline-danger" name="num_botao" value="{{dado.id}}">Del</button>
                            </form>
                            <form action="{% url 'edit' %}" method="POST"> {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark" name="num_botao" value="{{dado.id}}">Edit</button>
                            </td></form>
                    </tr>
                {% endif %}
            {% endif%}    
            {% endfor %}
        </tbody>
    </table>
    <!-- Fim da Tabela-------------------------------------------------------------------->

<div><img src="img/plus.png" alt=""></div>

</body>
</html>
